---
const navItems = [
  {
    path: "/about",
    label: "About",
  },
  {
    path: "/skills",
    label: "Skills",
  },
  {
    path: "/experience",
    label: "Experience",
  },
  {
    path: "/contact",
    label: "Contact",
  }
];
---

<header class="navbar">
  <a href="/" class="name">Daniel Bouzaid</a>
  <nav>
    {
      navItems.map((item) => {
        return <a href={item.path}>{item.label}</a>;
      })
    }
  </nav>
</header>

<style>
  .navbar {
    position: sticky;
    top: 0;
    max-height: 100vh;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 6rem 0rem;
    background-color: var(--bg-primary);
    z-index: 1000;
  }

  .name {
    font-size: 3.5rem;
    font-weight: 700;
    color: var(--text-accent);
    text-decoration: none;
  }

  nav {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  nav a {
    color: var(--text-primary);
    text-decoration: none;
    font-weight: 500;
    transition: color 0.2s ease;
  }

  nav a:hover {
    color: var(--text-accent);
  }
</style>
